<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/create_film.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css'%}">
    <title>Title</title>
</head>
<body>
 <ul class="menu-style">
      <li><a href="filter_film">FILTER FILM</a></li>
      <li><a href="delete_film">DELETE FILM</a></li>
      <li><a href="film">FILM</a></li>
  </ul>
    <form  method="GET"  class="form-style-9"> {% csrf_token %}
            <ul>
                <li>
                    <label for="name" class="field-style">Write the name of the film you want to delete: </label>
                    <input id="name" name="name" type="text" placeholder="film_name" class="field-style">
                </li>
                <li>
                    <input type="submit" value="OK" class="field-style">
                </li>
            </ul>
    </form>
</body>
</html>