<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/json_page.css'%}">
    <ul>
      <li><a><img  src="{% static 'img/django.jpeg' %}"  height="4%"/></a></li>
      <li><a href="page_4">Page_4</a></li>
      <li><a href="introduction">Introduction</a></li>
      <li><a href="json">Json</a></li>
      <li><a href="/greeting">Greeting</a></li>
      <li><a href="/first">First</a></li>
    </ul>

</head>
<body>
{% load static %}

{% for i in json %}
{% for i_key, i_value in i.items %}

<div class ="json">
    <h2 class="json">{{i_key}} {{i_value}} </h2>
</div>
{% endfor %}
{% endfor %}
</body>
</html>